.textarea_container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.textarea_container>h2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 3em;
	font-family: monospace;
}

.textarea_box {
	padding: 0;
	min-width: 225px;
	max-width: 80vw;
	position: relative;
}

.text_area {
	outline: none;
}

.text_area_locked, .text_area_compared {
	outline: none;
}

.pre_area_locked {
	color: rgb(0, 0, 0);
	/* position: absolute !important; */
}

.pre_area_locked>* {
	color: rgb(0, 0, 0) !important;
}

.pre_area_compared_correct {
	color: green;
	/* position: absolute !important; */
}

.pre_area_compared_correct>* {
	color: green !important;
}

.pre_area_compared_incorrect {
	color: red !important;
	background-color: white;
}

.pre_area_compared_incorrect>* {
	color: red !important;
}

.locked_entry {
	border: none;
	position: absolute;
	outline: none;
	z-index: 10;
	background: transparent;
}

.text_area_locked {
	display: none !important;
}

.icon_set {
	display: flex;
	justify-content: right;
	gap: .75em;
	position: absolute;
	/* top: 1em; */
	right: 0em;
	top: -1.25em;
}

.lockIcon, .unlockIcon {
	width: 12.5px;
	height: auto;
}

.lockIcon, .unlockIcon, .timeIcon, .timingIcon, .cogIcon, .settingIcon, .clipboard {
	cursor: pointer;
	outline: none;
}

.unlockIcon, .cogIcon, .timeIcon, .clipboard {
	color: lightgray
}

.clipboard:hover {
	color: black;
}

.timingIcon, .settingIcon, .lockIcon {
	color: black;
}

.stopWatch {
	position: absolute;
	right: 0em;
	top: -3.5em;

	font-family: monospace;
}

.save {
	color: lightgray;
	cursor: pointer;
}

.save:hover {
	color: black;
}

.sidebar {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 20vw;
}

.snippet_box {
	max-height: 40vh;
	overflow-x: none;
	overflow-y: auto;
	/* display: flex;
	flex-direction: column;
	gap: 1em; */
}

.saved_snippets>p {
	font-family: monospace;
}

.snippet_listing {
	position: relative;
}

.snippet_delete {
	position: absolute;
	bottom: .5em;
	right: 1.5em;
	/* background-color: red; */
	width: .5em;
	height: auto;
	z-index: 100;
	color: rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.snippet_delete:hover {
	color: rgba(0, 0, 0, 1)
}

.saved_snippet {
	background-color: rgba(0, 0, 0, 0.10);
	border-radius: 3px;
	cursor: pointer;
	padding: 1em;
	margin: 0 1em 1em 0;
	/* margin: 1em; */
	font-size: .75em;
	overflow: hidden;
	position: relative;
}

.saved_snippet:hover {
	background-color: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.25);
}

.sidebar_header {
	display: flex;
	align-items: center;
	gap: 1em;
	margin: 1em 0em .5em 0em;
}

.sidebar_header>p {
	margin: 0;
}

.sidebar_header>svg {
	color: lightgray;
}

.sidebar_header>svg:hover {
	color: black;
}

.opacity_change {
	opacity: 25%;
}

.slider_box {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	/* margin-top: 1em; */
	flex-direction: column;
	width: 100%;
}

.slider_box>* {
	padding: 1em 1em 0 0;
}

.slider_css>label {
	font-size: .75em;
}

.slider_css {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.dropdown_form>select {
	background-color: rgba(0, 0, 0, 0.05);
	font-size: .75em;
}

.dropdown_form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	/* margin: 1em; */
}

.time_panel {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 30vw;
	overflow-x: none;
	overflow-y: auto;
}

.time_panel_header {
	margin: 1em 0 .5em 1em;
	display: flex;
	align-items: center;
	gap: 1em;
}

.timing_list {
	margin-left: 1em;
}

.modal_container {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.modal_background {
	background-color: rgba(0, 0, 0, 0.30);
	width: 100%3;
	height: 100%;
}

.question_mark {
	width: .75em;
	height: auto;
	color: lightgrey;
}

.modal {
	width: 25vw;
	height: 75vh;
	background-color: white;
	position: absolute;
	left: 0;
	right: 2em;
	top: 0;
	bottom: 4em;
	z-index: 999;

	margin-left: auto;
	margin-top: auto;
	/* margin-bottom: auto; */
	/* margin-right: auto; */

	border-radius: 25px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04),
		0 2px 4px rgba(0, 0, 0, 0.04),
		0 4px 8px rgba(0, 0, 0, 0.04),
		0 8px 16px rgba(0, 0, 0, 0.04),
		0 16px 32px rgba(0, 0, 0, 0.04),
		0 32px 64px rgba(0, 0, 0, 0.04);

	display: flex;
	align-items: center;

	flex-direction: column;
}

.modal_listing {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: .5em;
	align-items: center;
}

.help_listing_title {
	margin-left: 1.5em;
}

.help_listing_icon {
	margin-right: 1.5em;
}

.help_header {
	font-size: 2em;
	margin: .5em 0 .5em 0;
}

.help_button {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 2.5em;
	height: 2.5em;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;

	position: absolute;
	bottom: 1em;
	right: 1em;
	cursor: pointer;
}

.help_button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.help_button:hover>* {
	color: black;
}

.trash_icon {
	color: lightgray;
}

.trash_icon:hover {
	color: black;
}

.date_entry {
	display: flex;
	gap: 1em;
	align-items: center;
}

.line_numbers {
	display: none !important;
}

.pre_line_numbers>* {
	color: rgba(0, 0, 0, 1) !important;
}

.dropdown_form>label {
	font-size: .75em;
}

.checkbox_gray {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.checkbox_gray > label {
	font-size: .75em;
}
