.textarea_container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.textarea_container>h2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 3em;
	font-family: monospace;
}

.textarea_box {
	padding: 0;
	min-width: 225px;
	max-width: 80vw;
	position: relative;
}

.text_area {
	outline: none;
}

.text_area_locked, .text_area_compared {
	outline: none;
}

.pre_area_locked {
	color: lightgray;
	/* position: absolute !important; */
}

.pre_area_locked>* {
	color: lightgray !important;
}

.pre_area_compared_correct {
	color: green;
	/* position: absolute !important; */
}

.pre_area_compared_correct>* {
	color: green !important;
}

.pre_area_compared_incorrect {
	color: red !important;
	background-color: white;
}

.pre_area_compared_incorrect>* {
	color: red !important;
}

.locked_entry {
	border: none;
	position: absolute;
	outline: none;
	z-index: 10;
	background: transparent;
}

.text_area_locked {
	display: none !important;
}

.icon_set {
	display: flex;
	justify-content: right;
	gap: .75em;
	position: absolute;
	/* top: 1em; */
	right: 0em;
	top: -1.25em;
}

.lockIcon, .unlockIcon {
	width: 12.5px;
	height: auto;
}

.lockIcon, .unlockIcon, .timeIcon, .timingIcon, .cogIcon, .settingIcon, .clipboard {
	cursor: pointer;
	outline: none;
}

.unlockIcon, .cogIcon, .timeIcon, .clipboard {
	color: lightgray
}

.clipboard:hover {
	color: black;
}

.timingIcon, .settingIcon, .lockIcon {
	color: black;
}

.stopWatch {
	position: absolute;
	right: 0em;
	top: -3.5em;

	font-family: monospace;
}

.save {
	color: lightgray;
	cursor: pointer;
}

.save:hover {
	color: black;
}

.sidebar {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 20vw;
}

.snippet_box {
	height: 40vh;
	overflow-x: none;
	overflow-y: scroll;
	/* display: flex;
	flex-direction: column;
	gap: 1em; */
}

.saved_snippets > p {
	font-family: monospace;
}

.saved_snippet {
	background-color: rgba(0,0,0,0.10);
	border-radius: 3px;
	cursor: pointer;
	padding: 1em;
	margin: 0 1em 1em 0;
	font-size: .75em;
	overflow: hidden;
}

.saved_snippet:hover {
	background-color: rgba(0,0,0,0.05);
	color: rgba(0,0,0,0.25);
}

.sidebar_header {
	display: flex;
	align-items: center;
	gap: 1em;
	margin: 1em 0em .5em 0em;
}

.sidebar_header > p {
	margin: 0;
}

.sidebar_header > svg {
	color: lightgray;
}

.sidebar_header > svg:hover {
	color: black;
}

