.textarea_container {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
}

.textarea_container>h2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 3em;
	font-family: monospace;
}

.textarea_box {
	padding: 0;
	min-width: 225px;
	max-width: 80vw;
	position: relative;
}

.text_area {
	outline: none;
}

.text_area_locked, .text_area_compared {
	outline: none;
}

.pre_area_locked {
	color: lightgray;
	/* position: absolute !important; */
}

.pre_area_locked>* {
	color: lightgray !important;
}

.pre_area_compared_correct {
	color: green;
	/* position: absolute !important; */
}

.pre_area_compared_correct>* {
	color: green !important;
}

.pre_area_compared_incorrect {
	color: red !important;
	background-color: white;
}

.pre_area_compared_incorrect>* {
	color: red !important;
}

.locked_entry {
	border: none;
	position: absolute;
	outline: none;
	z-index: 10;
	background: transparent;
}

.text_area_locked {
	display: none !important;
}

.icon_set {
	display: flex;
	justify-content: right;
	gap: .75em;
	position: absolute;
	/* top: 1em; */
	right: 0em;
	top: -1.25em;
}

.lockIcon, .unlockIcon {
	width: 12.5px;
	height: auto;
}

.lockIcon, .unlockIcon, .timeIcon, .timingIcon, .cogIcon, .settingIcon, .clipboard {
	cursor: pointer;
	outline: none;
}

.unlockIcon, .cogIcon, .timeIcon, .clipboard {
	color: lightgray
}

.clipboard:hover {
	color: black;
}

.timingIcon, .settingIcon, .lockIcon {
	color: black;
}

.stopWatch {
	position: absolute;
	right: 0em;
	top: -3.5em;

	font-family: monospace;
}